.Container{
    width: 95%;
    height: 78vh;
    margin: auto;
    margin-top: 2vh;
    border:0.1vh solid var(--devider);
}
.Head{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.StepName{
    font-size: 2.7vh;
    padding: 2vh 2vw 2vh 2vw;
    border-right: 0.1vw solid var(--devider);
    border-bottom: 0.1vh solid var(--devider);
}
.StepNumber{
    font-size: 2.7vh;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1vh solid var(--devider);
}