@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

*{
  letter-spacing: 0.2vw;
  font-family: Tahoma,sans-serif;
  color: var(--textColor);
}
*::-webkit-scrollbar{
  width: 0.5vw;

}
*::-webkit-scrollbar-thumb{
  background-color: var(--helperTextColor);
}
*::-webkit-scrollbar-track{
  background-color: var(--product-color);
}
html, body {
  padding: 0;
  margin: 0;
  background-color: var(--Background);
}

body {
  overflow: hidden;
}
button{
  cursor: pointer;
}
.Sun{
  --devider: #c9c9c9;
  --logoColor: #410093;
  --headlineTextColor: rgb(0, 0, 0);
  --textColor: rgba(0, 0, 0, 0.8);
  --helperTextColor: rgba(80, 80, 80, 0.8);
  --primary-color: #410093;
  --primaryVariant-color: #410093;
  --secondary-color: #ffffff;
  --Background: #ececec;
  --Surface: rgb(252, 252, 252);
  --SurfaceMain: rgb(241, 241, 241);
  --product-color: rgba(229, 229, 229, 0.5);
  --priceBlock: rgba(255, 113, 14, 0.5);

}
.Moon{
  --devider: rgb(57, 62, 87);
  --logoColor: rgb(255,255,255);
  --headlineTextColor:rgba(255,255,255,1);
  --textColor: rgba(255, 255, 255, 0.8);
  --helperTextColor: rgba(172, 172, 172, 0.8);
  --primary-color:#BB86FC;
  --primaryVariant-color:#3700B3;
  --secondary-color: #00e3cd;
  --Background:#121212;
  --Surface: rgb(39, 43, 59);
  --SurfaceMain: rgb(22, 22, 35);
  --product-color: rgba(60, 67, 90, 0.5);
  --priceBlock: rgba(255, 165, 101, 0.5);

}
.mainContainer {
  display: grid;
  grid-template-columns: 1.2fr 4fr 1.1fr;
  height: 100vh;
}
.chatContainer{
  display: grid;
  grid-template-columns: 1.2fr 5.1fr;
  height: 100vh;
}