.Container{
    width:100%;
    height: 90vh;
    margin: auto;
    background-color: var(--Surface);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0.3vh;
}
.ChatStore{
    background-color: var(--Surface);
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 0.1vw solid var(--devider);
}
.ChatDisplay{
    background-color: var(--product-color);
}
.header{
    height: 10vh;
     background-color: var(--Surface);
    border-bottom: 0.1vh solid var(--devider);
    display: flex;
    align-items: center;
}
.Receiver{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-column-gap: 1vh;
    margin-left: 10vh;
}
.Frame{
    width: 5vh;
    height: 5vh;
    background-color: #bfbfbf;
    border-radius: 50%;
    overflow: hidden;
}
.Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Name{
    color: var(--textColor);
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'Poppins', serif;
}
.body{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    overflow-y: scroll;
}
.body::-webkit-scrollbar{
    width: 0;
}
.footer{
    border-top: 0.2vh solid var(--devider);
    background-color: var(--Surface);
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sendContainer{
    width: 80%;
    height: 10vh;
    margin-top: 2vh;
    position: relative;
}

.changeSize{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SenderInput{
    width: 100%;
    height: 9vh;
    resize: none;
    padding: 1vh;
    box-sizing: border-box;
    border-radius: 2vh;
    border:0.1vh solid var(--primaryVariant-color);
    opacity: 0.8;
    transition: 0.4s ease-in-out;
    background-color: rgb(255, 255, 255);
    color:black;
}
.SenderInput:focus{
    opacity:1;
    outline: none;
}

.SendBtn{
    position: absolute;
    top: 1vw;
    right: 0;
    width: 15vh;
    font-size: 1.1vw;
    padding: 0.5vh;
    border:0;
    border-radius: 0 0 0 2vh;
    background-color: transparent;
    color: var(--primaryVariant-color);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5vh;
}

.SenderInput:focus + .SendBtn{
    right: 0;
    background-color: Black;
}
.SendIcon{
    fill:var(--primaryVariant-color);
    margin-left: 1vh;
    width: 3vh;
    height: 3vh;
}

.SearchBox{
    height: 10vh;
    border-bottom: 0.1vh solid var(--devider);
     display: flex;
    justify-content: center;
    align-items: center;
}
.Search{
    width: 70%;
    border:0.3vh solid var(--devider);
    padding: 1vh 2vh 1vh 2vh;
    font-size: 1vw;
    opacity: 0.9;
    color: var(--textColor);
    transition: 0.2s ease-in-out;
}
.Search:focus{
    outline: none;
   width: 80%;
    opacity: 1;
}
.chatHistory{
    display: grid;
    grid-row-gap: 1vh;
    padding: 2vh 0 2vh 0;
}





